* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #666;
  background: #fff;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none
}

a:hover {
  color: #666;
  cursor: pointer;
}

a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
  margin: 0;
  padding: 0
}

ol,
ul,
li {
  list-style: none
}

img {
  border: 0;
  vertical-align: middle
}

em,
i,
u {
  font-style: normal
}

html,
body {
  height: 100%;
}

* {
  font-size: 0.14rem;
  font-family: "PingFang";
  font-weight: 500;
  color: #333333;
}